@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    body {
        background: #EEF5FF;
        text-align: center;
    }

</style>
@model Appointment


@{
    var Special = ViewBag.Special as SelectList;
}


<h3>Update  Patient with Specializatoin: </h3>
<form asp-action="UpdateAppointment">


    <label class="form-label">Specializations</label>
    <select class="form-control" asp-for="SpecializationsID" asp-items="@Special">
        <option value="">--Select Specializations--</option>

    </select>
    <span asp-validation-for="Specialization" class="text-danger"></span>

    <label asp-for="Date" class="form-Label"></label>
    <input asp-for="Date" class="form-control" />
    <span asp-validation-for="Date" class="text-danger"></span>

    <label asp-for="Time" class="form-Label"></label>
    <input asp-for="Time" class="form-control" />
    <span asp-validation-for="Time" class="text-danger"></span>



    <label class="form-label">Doctors</label>
    <select class="form-control" asp-for="DoctorId" asp-items="@ViewBag.DoctorList">
        <option value="">--Select Doctors--</option>
    </select>

    <input type="submit" class="btn btn-primary" /> ||
    <a asp-action="Index" class="btn btn-dark"> Back to List</a>
</form>
